@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Roboto:400,400i,500,500i,700');

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
}
.header {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

/*---Header Top----*/
.header-top {
    background-color: rgb(49, 49, 49);
    font-size: 12px;
    padding: 8px;
}
.header-top a {
    color: #fff;
}
.header-top .header-top-right {
    text-align: right;
    align-items: center;
}
.header-top .header-top-right i {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header-top .header-top-right a {
    margin-right: 10px;
}
.header-top .header-top-right a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header-top .header-top-right a:hover .icon {
    color: #ff0000;
}
.header-top .header-top-left {
    text-align: left;
}
.header-top .header-top-left a {
    margin-right: 10px;
}
.header-top .lnr {
    display: none;
}
div.header-top {
    height: 30px;
}
.navbar-brand>img {
    display: block;
    width: 125px !important;
}
/*----Main Header----*/
.main-header {
    height: 50px;
    background-color: #333333bd !important;
    width: 100% !important;
    background-image: none !important;
    border:0 !important;
}
.navbar-default .navbar-nav>li>a {
    color: white !important;
}
@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
        padding: 5px !important;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#b6001f,#b6001f 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}
