@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Roboto:400,400i,500,500i,700');

.carousel-image {
    width: 100%;
    height: 600px !important;
}

/*--About--*/
.about {
    padding: 100px 0px 100px 0px;
    background-color: rgb(245, 243, 243);
}
.about-icon {
    margin:20px;
}
.about-img {
    width: 95%;
    height: 95%;
}
.about-blog {
    margin: 100px 0px 100px 0px;
}

/*--What we do--*/
.service {
    height: 100vh;
    padding: 3%;
    background-color: rgb(240, 240, 240);
}
.service-box {
    width: 30%;
    padding: 25px !important;
}
.service-box .thumbnail {
    height: 400px;
    padding: 30px 10px;
}
.service-box .thumbnail:hover {
    background-color: rgb(255, 255, 255);
}
.service-box .thumbnail {
    overflow: hidden;
}
.service-box .thumbnail a>img, .thumbnail>img {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}
.service-box .thumbnail:hover {
    transform: scale(1.1);
}
/*----project ----*/
.item>a{
    color: red !important;
}
.project-item {
    padding: 0% !important;
    margin: 0% !important;
}
.project_image {
    width: 100%;
    height: auto;
    padding:5px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.project {
    width: 100%;
    padding:50px 0px 0px 0px;
    background-color: white;
}

.project-title {
    width: 40%;
    margin: auto;
}
.project-content {
    margin: 50px;
    position: relative;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}
.overlay:hover .project_image {
    opacity: 0;
  }
  
.overlay:hover .middle {
    opacity: 1;
}
.label-default {
     background-color: #979797 !important;
}
/*---News---*/
.news {
    padding: 100px 0px;
    background-color: #f2f2f2;
}
.thumbnail {
    border: none !important;
    border-radius: none;
    -webkit-box-shadow: -1px 10px 65px -20px rgba(0,0,0,0.34) !important;
    -moz-box-shadow: -1px 10px 65px -20px rgba(0,0,0,0.34) !important;
    box-shadow: -1px 10px 65px -20px rgba(0,0,0,0.34) !important;
}
.news-box .thumbnail a>img, .news-box .thumbnail>img {
    border-radius: 0% !important;
    margin-right: auto;
    margin-left: auto;
    width: 100% !important;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}
.news-box .thumbnail{
    padding: 0%;
}
/*--Parallax--*/
.parallax_1 {
    background-color: #333333ab;
    background-image: url('/images/thomas-kelley-74096-unsplash.jpg');
    background-attachment: fixed;
    min-height:100%;
    height: 300px;
    padding: 100px 0px 300px 0px;
    background-repeat: round;
    background-blend-mode: overlay;
    color:white;
}
.parallax-text {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
}
.parallax_2 {
    background-color: #333333ab;
    background-image: url('/images/adi-goldstein-693566-unsplash.jpg');
    background-attachment: fixed;
    min-height:100%;
    height: 70vh;
    padding: 100px 0px 300px 0px;
    background-repeat: round;
    background-blend-mode: overlay;
    color:white;
}
/*Modal*/
.modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }