@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Roboto:400,400i,500,500i,700');

.carousel-image {
    width: 100%;
    height: 650px !important;
}
.about {
    padding: 100px 0px 100px 0px;
    background-color: rgb(245, 243, 243);
}
.about-icon {
    margin:20px;
}
.about-img {
    width: 95%;
    height: 95%;
}
.about-blog {
    margin: 100px 0px 100px 0px;
}